!!!
%html{lang: "fi"}
  %head
    %title nRF24 Pure Ruby Driver 
    %meta{:charset => "utf-8"}/
    %link{:href => "/css/nRF24.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=VT323", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => "/nRF24.js"}
  %body
    %h1 nRF24 Pure Ruby Driver 
    %p.info ?
    %form{ onsubmit: "ajaxform(this); return(false);"}
      Channel:
      %input{name: "chan", size: 10}
      Rf_Dr:
      %select{name: "rf_dr"}
        %option{value: "1"} 2Mbps
        %option{value: "0"} 1Mbps
      Rf_Pwr:
      %select{name: "rf_pwr"}
        %option{value: "0"} -18dBm
        %option{value: "1"} -12dBm
        %option{value: "2"} -6dBm
        %option{value: "3"} 0dBm
      Lna_gain:
      %select{name: "lna_hcurr"}
        %option{value: "1"} Normal
        %option{value: "0"} Low
      Auto_Ack:
      %input{type: :checkbox,name: "aa", value: "true"}
      %button{value: "Exec", onclick: "ajaxform(this); return(false);"}
        ReConfig&Reset
    %hr
    %table
      %tr
        %td{width: "20%"}
          %table.vt
            %tr
              %td.regs 
              %td.stats
        %td{width: "80%"}
          %pre.log 
    %hr
    %p
      %font{size: "-1"}
        Written by
        %a{href: "mailto:jalopuuverstas@gmail.com"}
          Ari Siitonen 
        2014 